body{
    background: radial-gradient(salmon,rgb(87, 59, 17));
}

section {
    background-color: rgb(87, 59, 17);
    margin: 10px;
    padding: 5px;
}

h1{
    font-family: 'Kaushan Script', cursive;
    color: salmon;
    font-size: 3em;
    text-align: right;
    padding: 25px;
}

h2 {
    font-size: 2em;
    text-align: center;
    padding: 5px;
    background-color: salmon;
    border-radius: 25px;
}

tbody {
    border: none;
}

#section-form{
    width: 600;
    height: 250;
    margin: 30px;
    background-color: inherit;
}

fieldset {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(87, 59, 17);
}

#button {
    padding: 5px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

#section-table{
    display: block;
    width: 850px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    color: whitesmoke;
    padding-bottom: 25px;
    padding-top: 5px;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 800px;
    height: 200px;
    margin-bottom: 10px;
}

th {
    text-emphasis: bold;
    padding: auto;    
    margin-bottom: 10px;
    padding-bottom: 10px;
}

thead{
    margin-bottom: 10px;
}

tr {
    margin-top: 10px;
}

td{
    text-align: center;
}

tf {
    text-emphasis: bold;
    padding-left: 8px;
    margin-bottom: 10px;
}


input{
    display: block;
    margin-top: 5px;
    margin-left: 10px;
}

label {
    display: inline-block;
    color: whitesmoke;
    padding: 5px;
}

input:invalid{
    border: dashed salmon 1px;
}

footer {
    font-size: 1.5em;
    margin-top: 25px;
    color: black;
    text-align: center;
    padding: 10px 10px 25px 10px;
    background-color: salmon;
  }